*{
  background-color: black;
  color: white;
  text-align: center;
  font-family: Verdana;
}
h1{
  font-size: 50px;
  font-weight: normal;
}
h2{
  font-size: 42px;
  font-weight: 300;
}
#link{
  color: aquamarine;
  font-size: 16px;
}
p{
  font-size: 21px;
  color: Gray;
}
#copyrightSymbol{
  text-align: right;
  font-weight: normal;
}
